{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'blog/css/card.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/image-hover.css' %}">
    <div class="container">
        <div class="row">
            <!-- Blog post -->
            <div class="card m-auto shadow-lg">
                <figure>
                    <img class=" card-img-top" src="{{blog_post.image.url}}" alt="post-image">
                </figure>
                <div class="card-body my-2">
                    <h2 class="card-title">{{blog_post.title}}</h2>
                    <p class="card-text">{{blog_post.body|safe}}</p>
                    
                    {% if blog_post.author == request.user %}
                        <a href="{% url 'blog:edit_blog' blog_post.slug %}" class="btn btn-primary">Update</a>
                    {% endif %}
                        
                </div>
                <div class="card-footer text-muted" style="background: none;">
                    Updated on {{blog_post.date_updated}} by {{blog_post.author}}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    