{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'blog/css/home.css' %}">
    <div class="container">
        
        <div class="pricing-header px-5 py-3 pt-md-5 pb-md-7 mx-auto text-center">
            <h1 class="display-4">Coding With Edward</h1>
            <p class="lead">In this course you'll learn how to build a simple blog with user registration and blog CRUD functionality. Django is a powerful 
                framework and you'll see why in this course.</p> 
                <!-- <a type="button" class="btn btn-primary" href="{% url 'blog:create_blog' %}">Create post</a> -->
        </div>
    
        <div class="row">

            <!-- Top 'create post' bar -->
            <div class="create-post-bar d-lg-none col-lg-7 offset-lg-1">
                <p><a type="button" class="btn btn-primary" href="{% url 'blog:create_blog' %}">Create post</a></p>
            </div>
            <!-- end Top 'create post' bar -->
    
    
            <!-- blog feed -->
            <div class="left-column col-lg-7 offset-lg-1">
                
                <div class="blog-post-container">
                    <p>Thingy</p>
                </div>
                
                <div class="blog-post-container">
                    <p>Thingy</p>
                </div>
    
                <div class="blog-post-container">
                    <p>Thingy</p>
                </div>
    
                <div class="blog-post-container">
                    <p>Thingy</p>
                </div>
    
            </div>
            <!-- end blog feed -->
    
    
            <!-- Right 'create post' column  -->
            <div class="right-column col-lg-3 d-lg-flex d-none flex-column">
    
                <div class="create-post-bar">
                    <p>Stuff</p>
                    <p>Stuff</p>
                    <p>Stuff</p>
                    <p><a type="button" class="btn btn-primary" href="{% url 'blog:create_blog' %}">Create post</a></p>
                </div>
            
            </div>
            <!-- end Right 'create post' column  -->
    
        </div>
    </div>

{% endblock %}
    