<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <div>
        {% if request.user.is_authenticated %}
            <p><a href="{% url 'home' %}">Homepage</a> | <a href="{% url 'logout' %}">Logout</a></p>
            <p>Hello, {{request.user.username}}</p>
        {% else %}
            <p>
                <a href="{% url 'home' %}">Homepage</a> |
                <a href="{% url 'register' %}">Register | 
                <a href="{% url 'login' %}">Login</a></a>
            </p>
        {% endif %}
    </div>
    <hr>
</head>
<body>
    
    {% block content %}
        
    {% endblock %}
        
</body>
    <footer>
        <hr>
        <p>CodingWithEdward Blog Course | 2021</p>
    </footer>
</html>